html {
	position: relative;	
  	min-height: 100%;
}
body {
  height: 100%;
}
header {
	margin-bottom: 10px;
}

.loginpage {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
 /*background-color: #f5f5f5;*/
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-title .a{
  text-decoration:  none !important;
  color:            black !important;	
}
.blog-image {
	width: 700px;
}
.title {
  text-decoration:  none !important;
  color:            black !important;	
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}
.panel {
	margin-bottom: 50px;
}
.comments {
	border-top: 1px solid #ccc;
    margin-top: 20px;
}
.comments-block {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 0.75rem;
}
.r {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}
